*{
	padding: 0;
	margin: 0;
}

html {
	font-size: 12px;
}

.h1, h1 { font-size: 2.0rem; }
.h2, h2 { font-size: 1.75rem; }
.h3, h3 { font-size: 1.50rem; }
.h4, h4 { font-size: 1.25rem; }
.h5, h5 { font-size: 1.0rem; }

.placeholder1 {
	color: #036eb8;
}

.placeholder2 {
	color: #f44336;
}

body {
	font-family: Noto Sans;
	padding: 0;
	min-width:320px;
	margin: 0 auto;
}

.container {
    margin-top: 2.5rem;
}

#logoMain {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 800px;
	height: auto;
}

#loginForm, #logout, .navbar-brand>img {
	border: 1px solid rgba(0,0,0,.125);
}

#logout, #loginForm {
	border-radius: .25rem;
	padding: 40px 20px;
	display: block;
	background-color: #f5f5f5;
	max-width: 640px;
	margin: 0 auto;
}

#logout h1 {
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
}

#loginBtn, #logoutBtn  {
	width: 150px;
	margin-top: 40px;
}


.btn-light {
	padding: 7px 11px;
    border-radius: 20px;
    background-color: #fafafa;
    margin: 6px 6px 6px 0px;
    border: 1px solid #e7e7e7;
}

.btn-light:hover {
	background-color: #e7e7e7;
}

.btn-group {
	display: inline-block;
}

.signs {
    display: none;
}

#warning {
    padding: 20px;
    background-color: pink;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
}

.patient-portrait {
	width: 7.5rem;
    height: 7.5rem;
}

.card {
	max-width: 292px;
	margin-bottom: 2rem;
}

.card-img-top {
	width: 100%;
	height: 256px;
}

.patient-portrait, .card-img-top {
	border: 0.5rem solid #e7e7e7;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

#sidebar {
	min-height: calc(100vh - 120px);
	border-right: 1px solid #e7e7e7;
}

#main {
    padding-left: 40px;
}

.navbar-brand>img {
    height: 64px;
    border-radius: 12px;
    padding: 8px;
    background-color: white;
	margin-right: 32px;
}

.patientinfo {
	margin: 0 -15px;
    padding: 30px 0;
}

footer {
    padding:20px 0;
	background-color: #f5f5f5;
}

footer ul{
    list-style-type: none;
	line-height: 2rem;
	margin: 0;
}

#footerLinks {
	max-width: 800px;
}

.footer-copyright {
	padding-top: 1rem;
}

#logoFooter {
	height: 64px;
    margin-top: 4px;
}

#logoBfh {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
